@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  font-family: poppins , Moset;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f242d;
  justify-content: center;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.main {
  background-color: rgb(113, 7, 235);
  border-radius: 50px;
  border: 2px solid #8400ff;
  background: transparent;
  width: 420px;
  padding: 30px 40px;
  box-shadow: 0 0 50px #9008ff33;
  
}

.main h1 {
  text-align: center;
  overflow: hidden;
  font-size: 36px;
}

.main .input1 {
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input1 input {
  width: 100%;
  height: 100%;
  background-color: #2f005a;
  border-radius: 40px;
  padding: 20px 45px 20px 20px;
  font-size: 18px;
  border: none;
  outline: none;
}

.input1 input::placeholder {
  color: #8400ff
}

.btn {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 40px;
  background-image: linear-gradient(90deg, rgb(3, 226, 255), #8400ff );
  border: none;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.Register {
  text-align: center;
  font-size: 14.5px;
  margin: 20px 0 15px;
  color: #8400ff;
}
